.card {
  float: left;
  border: solid 1px black;
  width: 150px;
  border-radius: 5px;
  height: 210px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
  left: 40%;
  position: relative;
}


.restart {
  position: absolute;
  color: black;
  font-size: 60px;
  left: 40%;
  /*top: 20%;*/
  padding-top: 30px;
  width: 400px;
  height: 200px;
  /*background-color: red;*/
  text-align: center;
}

body {
  background-image: url(../img/tablebackground.jpg);
}

.dealagain {
  width: 400px;
  height: 100px;
  font-size: 40px;

}

.hit-button {
  position: relative;
  left: 47%;
  /*padding-bottom: 10px;*/
}

.stand-button {
  position: relative;
  left: 40%;
}

.scores {
  position: relative;
  left: 40%;
  font-size:40px;
}

select {
  position: relative;
  left: 46%;
}

