.card {
  float: left;
  border: solid 1px black;
  width: 150px;
  border-radius: 5px;
  height: 210px;
  margin-right: 20px;
}

h2{
  background-color: white;
  opacity: .7;
  /*text-align: center;*/
  width:325px;
  border-radius: 5px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
  left: 40%;
  position: relative;
}


.restart {
  position: absolute;
  color: black;
  font-size: 60px;
  left: 40%;
  /*top: 20%;*/
  padding-top: 30px;
  width: 400px;
  height: 200px;
  /*background-color: red;*/
  text-align: center;
}

body {
  background-image: url(../img/tablebackground.jpg);
}

.dealagain {
  width: 400px;
  height: 100px;
  font-size: 40px;

}

.hit-button {
  position: relative;
  left: 48%;
  height: 40px;
  width: 80px;
  /*padding-bottom: 10px;*/
}

.stand-button {
  position: relative;
  left:34.5%;
  height: 40px;
  width: 100px;
  margin-top: 10px;
}

.scores {
  float: right;
  left: 70%;
  font-size:40px;
  width: 270px;
  height: 50px;
  background-color: white;
  opacity: .7;
  text-align: center;
}

select {
  position: relative;
  left: 40%;
  background: red;
  padding: .5;
  width: 250px;
  color: white;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}



.button {
    display: inline-block;
    background: red;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e8cff), color-stop(100%,#1188f0));*/
    /*background: -moz-linear-gradient(center top, #2e8cff 0%, #1188f0 100%);*/
/*    -webkit-box-shadow: 0px 5px 0px 0px #006391, 0px -1px 0px 0px black inset;
    -moz-box-shadow: 0px 5px 0px 0px #006391, 0px -1px 0px 0px black inset;
    box-shadow: 0px 5px 0px 0px #006391, 0px -1px 0px 0px black inset;
*/    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    text-shadow: 0px 1px 0px black;
    padding: 5px 15px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}
.button:hover {
    background: #1995fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e8cff), color-stop(100%,#2e8cff));
    background: -moz-linear-gradient(center top, #2e8cff 0%, #2e8cff 100%);
}
.button:active {
    -webkit-box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
    -moz-box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
    box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
    -webkit-transition: background-position 0.3s linear;
    -moz-transition: background-position 0.3s linear;
    -o-transition: background-position 0.3s linear;
    transition: background-position 0.3s linear;
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    transform: translateY(3px);
}
